* {
    margin: 0;
    padding: 0;
    font-family: FiraSans;
    font-size: 16px;
}

@font-face {
    font-family: Exo-Bold;
    src: url(../fonts/Exo-Bold.ttf);
}

@font-face {
    font-family: Exo-Regular;
    src: url(../fonts/Exo-Regular.ttf);
}

@font-face {
    font-family: Exo-Thin;
    src: url(../fonts/Exo-Thin.ttf);
}

@font-face {
    font-family: Play;
    src: url(../fonts/Play.ttf);
}

@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu.ttf);
}

a {
    font-size: inherit;
}

b {
    font-size: inherit;
}

footer {
    background-color: #860111;
    color: white;
    display: flex;
    bottom: 0;
}

h1 {
    font-size: 600%;
    font-family: Play;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
    width: 100%;
}

h2 {
    font-size: 450%;
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

h3 {
    font-size: 300%;
}

h4 {
    font-size: 200%;
}

i {
    font-family: inherit;
    font-size: inherit;
}

p {
    font-family: Exo-Thin;
    font-size: 200%;
    padding: 0.5em 0.2em 0.5em 0.2em;
}

#aboutshort {
    font-size: 200%;
}

#aboutus-logo {
    width: 100%;
}

#cas-s-fight {
    background-image: url(../pages/casual/images/fighting.png);
}

#cas-s-step {
    background-image: url(../pages/casual/images/stepmania.png);
}

#compcasual {
    text-align: left;
}

#current {
    background-color: #cc1329;
}

#footerlogo {
    width: 10em;
    margin-left: 3%;
    float: right;
    display: flex;
    min-height: 100px;
}

#footertext {
    font-size: 50%;
}

#joinbtn {
    border: none;
    font-family: Exo-Bold;
    background-color: #860111;
    color: white;
    font-size: 250%;
    padding: 0.2em 0.4em 0.2em 0.4em;
    text-decoration: none;
    border-radius: 2%;
    -webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s
}

#joinbtn:hover {
    background-color: white;
    border: 1px solid black;
    color: #860111;
}

#mission-img {
    height: 26em;
    float: left;
    margin: auto;
}

#mission-text {
    margin-left: 5%;
    margin-bottom: 3%;
}

/* Navigation menu */
#nav {
    clear: both;
    float: left;
    z-index: 1;
    position: relative;
    margin: 0;
    background-color: #860111;
    width: 100%;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: block;
    float: right;
    right: 50%;
}

#nav > ul > li {
    float: left;
    left: 50%;
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#nav > ul > li a {
    display: block;
    margin: 0;
    padding: 0.5em 0.8em 0.5em 0.8em;
    text-decoration: none;
    font-size: 150%;
    color: white;
}

#nav ul li ul a {
    color: #860111;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-color: white;
    left: 0;
    width: 12em;
}

#nav ul ul li {
    clear: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
}


#nav ul li:hover ul {
    display: block;
}

#nav ul li:hover {
    background-color: #cc1329;
}

#nav ul li:hover ul a:hover {
    background-color: #ddd;
}

#news-img {
    margin-top: 4em;
    width: 100%;
}

#opening-img {
    height: 48em;
    float: right;
    margin: auto;
}

#opening-text {
    margin-right: 5%;
}

#rl-img {
    height: 35em;
    float: right;
    margin: auto;
}

#smash-page {
    margin: 2em 0;
}

#title-img {
    background-image: url(../images/title.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 650%;
    font-family: Play;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
    text-shadow: -6px 6px #860111; 
    width: 100%;
}

#team-s-apex {
    background-image: url(../pages/teams/images/apex.webp);
}

#team-s-cod {
    background-image: url(../pages/teams/images/cod.webp);
}

#team-s-csgo {
    background-image: url(../pages/teams/images/csgo.png);
}

#team-s-hearth {
    background-image: url(../pages/teams/images/hearthstone.png);
}

#team-s-lol {
    background-image: url(../pages/teams/images/lol.jpeg);
}

#team-s-ow {
    background-image: url(../pages/teams/images/ow2.jpg);
}

#team-s-rl {
    background-image: url(../pages/teams/images/rl.webp);
}

#team-s-smash, #cas-s-smash {
    background-image: url(../pages/teams/images/smash.jfif);
}

#team-s-val {
    background-image: url(../pages/teams/images/valorant.jpg);
}

#team-s-contain {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-maroon {
    background-color: #860111;
    color: white;
}

.column {
    width: 45%;
    align-items: center;
    margin: 1em;
    float: left;
}

.column-grid {
    align-items: center;
    margin: 1em;
}

.column-grid-footer {
    align-items: center;
    margin: 1em;
    padding: 1.5% 5% 0.5% 5%;
}

.fa {
    margin: 0.5em 0.25em 0 0;
    padding: 0.25em 0.5em;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    color: white;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.fa:hover {
    opacity: 0.7;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

.game_title {
    padding: 0.6em 0.2em;
    margin: 0.5em 15%;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.players {
    display: flex;
    padding: 1em 0.5em;
}

.player_img {
    width: 100%;
    min-width: 170px;
}

.player_info {
    margin: 2em 3em;
    max-width: 240px;
    top: 0;
}

.player_info > p {
    font-size: 150%;
    padding: 0.2em;
}

.record {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.record-date {
    background-color: #860111;
    padding: 0.1em 0.3em;
    color: white;
    display: block;
}

.record-logo {
    width: 8em;
}

.record_sec {
    display: block;
    padding: 1em 0.5em;
}

.record_sec_high {
    display: grid;
    grid-template-columns: 20% 80%;
}

.record_sec_high > div {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.record_sec_high1 > div {
    justify-content: center;
    align-items: center;
    margin: auto;
}


.record_sec_high1 {
    display: grid;
    grid-template-columns: 5% 40%;
}

.record_sec_high > .record_sec {
    margin: 0;
}

.record-text {
    padding: 0.1em;
}

.row-full {
    margin: 0;
    padding: 0 7.5% 0 7.5%;
}

.row-full-nol {  
    margin: 0 7.5% 0 0;
    display: flex;
}

.row-full-norl {
    margin: 0;
    display: flex;
}

.row-full-nor {  
    margin: 0 0 0 7.5%;
    display: flex;
}

.row-full-rec {
    align-items: center;
    margin: 0;
    padding: 0 7.5% 0 7.5%;
}

.row-grid-w {
    margin: 0;
    padding: 0 7.5% 0 7.5%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.row-grid-w2 {
    margin: 2% 0 2% 0;
    padding: 0 7.5% 0 7.5%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.row-grid-m {
    margin: 0;
    padding: 2% 7.5% 2% 7.5%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #860111;
    color: white;
}

.row-grid-footer {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.slicknav_menu {
	display: none;
}

.team-select {
    margin: 3%;
    border-radius: 1em;
    transition: transform .2s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10%;
}

.team-select:hover {
    transform: scale(1.1);
}

.textl {
    text-align: left;
}

.textr {
    text-align: right;
}

@media screen and (max-width: 40em) {
	#nav {
        display: none;
    }
    
    .js .slicknav_menu {
		display: block;
	}
}