* {
    margin: 0;
    padding: 0;
    font-family: FiraSans;
    font-size: 16px;
}

@font-face {
    font-family: Exo-Bold;
    src: url(../fonts/Exo-Bold.ttf);
}

@font-face {
    font-family: Exo-Regular;
    src: url(../fonts/Exo-Regular.ttf);
}

@font-face {
    font-family: Exo-Thin;
    src: url(../fonts/Exo-Thin.ttf);
}

@font-face {
    font-family: Play;
    src: url(../fonts/Play.ttf);
}

@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu.ttf);
}

a {
    font-size: inherit;
}

b {
    font-size: inherit;
}

footer {
    background-color: #481A1B;
    color: white;
    display: flex;
    bottom: 0;
}

h1 {
    font-size: 600%;
    font-family: Play;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
    width: 100%;
}

h2 {
    font-size: 450%;
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

h3 {
    font-size: 300%;
}

h4 {
    font-size: 200%;
}

i {
    font-family: inherit;
    font-size: inherit;
}

p {
    font-family: Exo-Thin;
    font-size: 200%;
    padding: 0.5em 0.2em 0.5em 0.2em;
}

#aboutus-logo {
    width: 100%;
}

#cas-s-fight {
    background-image: url(../pages/casual/images/fighting.png);
}

#cas-s-fight:hover {
    background-image: url(../pages/casual/images/fighting2.png);
}

#cas-s-step {
    background-image: url(../pages/casual/images/stepmania.png);
}

#cas-s-step:hover {
    background-image: url(../pages/casual/images/rhythm2.jpg);
}

#compcasual, #compcasual-text {
    padding: 0 1.2em;
}

#compcasual-mb {
    display: none;
}

#current {
    background-color: #cc1329;
}

#footerlogo {
    width: 10em;
    margin-left: 3%;
    float: right;
    display: flex;
    min-height: 100px;
}

#footertext {
    font-size: 50%;
}

#form_message {
    height: 3.5em;
}

#form_submit, #form_reset {
    border: none;
    font-family: Exo-Bold;
    color: #481A1B;
    background-color: white;
    font-size: 1.75em;
    padding: 0.1em 0.2em 0.2em 0.2em;
    text-decoration: none;
    border-radius: 2%;
    border: 1px solid black;
    -webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s
}

#form_submit:hover, #form_reset:hover {
    color: white;
    background-color: #481A1B;
}

#joinbtn {
    border: none;
    font-family: Exo-Bold;
    background-color: #481A1B;
    color: white;
    font-size: 250%;
    padding: 0.2em 0.4em 0.2em 0.4em;
    text-decoration: none;
    border-radius: 2%;
    -webkit-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -o-transition:background 0.3s;
    transition:background 0.3s
}

#joinbtn:hover {
    background-color: white;
    border: 1px solid black;
    color: #481A1B;
}

#mission-img {
    height: 26em;
    float: left;
    margin: auto;
}

#mission-text {
    margin-left: 5%;
    margin-bottom: 3%;
}

/* Navigation menu */
#nav {
    clear: both;
    float: left;
    z-index: 1;
    position: relative;
    margin: 0;
    background-color: #481A1B;
    width: 100%;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: block;
    float: right;
    right: 50%;
}

#nav > ul > li {
    float: left;
    left: 50%;
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#nav > ul > li a {
    display: block;
    margin: 0;
    padding: 0.5em 0.8em 0.5em 0.8em;
    text-decoration: none;
    font-size: 150%;
    color: white;
}

#nav ul li ul a {
    color: #481A1B;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-color: white;
    left: 0;
    width: 12em;
}

#nav ul ul li {
    clear: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#nav ul li:hover ul {
    display: block;
}

#nav ul li:hover {
    background-color: #cc1329;
}

#nav ul li:hover ul a:hover {
    background-color: #ddd;
}

#news-img {
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    background: url(../images/rlplayers.jpg);
}

#news-img:hover {
    background: url(../images/news_hover.jpg);
}

#opening-img {
    height: 48em;
    float: right;
    margin: auto;
}

#opening-text {
    margin-right: 5%;
}

#rl-img {
    height: 35em;
    float: right;
    margin: auto;
}

#smash-page {
    margin: 2em 0;
}

#title-img {
    background-image: url(../images/title.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 650%;
    font-family: Play;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
    text-shadow: -6px 6px #481A1B; 
    width: 100%;
}

#team-s-apex {
    background-image: url(../pages/teams/images/apex.webp);
}

#team-s-apex:hover {
    background-image: url(../pages/teams/images/apex2.png);
}

#team-s-cod {
    background-image: url(../pages/teams/images/cod.webp);
}

#team-s-cod:hover {
    background-image: url(../pages/teams/images/cod2.png);
}

#team-s-csgo {
    background-image: url(../pages/teams/images/csgo.png);
}

#team-s-csgo:hover {
    background-image: url(../pages/teams/images/csgo2.jpg);
}

#team-s-hearth {
    background-image: url(../pages/teams/images/hearthstone2.jpg);
}

#team-s-hearth:hover {
    background-image: url(../pages/teams/images/hearthstone.png);
}

#team-s-lol {
    background-image: url(../pages/teams/images/lol.jpeg);
}

#team-s-lol:hover {
    background-image: url(../pages/teams/images/lol2.jpeg);
}

#team-s-ow {
    background-image: url(../pages/teams/images/ow2-2.jpg);
}

#team-s-ow:hover {
    background-image: url(../pages/teams/images/ow2.jpg);
}

#team-s-rl {
    background-image: url(../pages/teams/images/rl.webp);
}

#team-s-rl:hover {
    background-image: url(../pages/teams/images/rl2.jpg);
}

#team-s-smash, #cas-s-smash {
    background-image: url(../pages/teams/images/smash.jfif);
}

#team-s-smash:hover, #cas-s-smash:hover {
    background-image: url(../pages/teams/images/smash2.webp);
}

#team-s-val {
    background-image: url(../pages/teams/images/valorant.jpg);
}

#team-s-val:hover {
    background-image: url(../pages/teams/images/valorant2.jpg);
}

#team-s-contain {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vid-opening {
    height: 30em;
}

.back-maroon {
    background-color: #481A1B;
    color: white;
}

.center {
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.column {
    width: 45%;
    align-items: center;
    margin: 1em;
    float: left;
}

.column-grid {
    align-items: center;
    margin: 1em;
}

.column-grid-footer {
    align-items: center;
    margin: 1em;
    padding: 1.5% 5% 0.5% 5%;
}

.event-text-l {
    margin: auto 0;
    padding: 1em 1.5em 0 0;
}

.event-text-l > p {
    text-align: left;
}

.event-text-r {
    margin: auto 0;
    padding: 0 0 0 1.5em;
}

.event-text-r > p {
    text-align: right;
}

.fa {
    margin: 0.5em 0.25em 0 0;
    padding: 0.25em 0.5em;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    color: white;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.fa:hover {
    opacity: 0.7;
}

.fa-brands {
    font-family: initial;
    font-size: initial;
}

.flex_photo3 {
    width: 33.33%;
}

.flex_photo4 {
    width: 25%;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

.form {
    background-color: #481A1B;
    color: white;
    padding: 1em 2em;
    margin: auto;
    border-radius: 2%;
}

.form > h4 {
    text-align: center;
}

.form > input {
    font-size: 1.75em;
    margin: 0.25em 0;
}

.form > label {
    font-size: 150%;
    float: left;
    width: 8em;
}

.form > select {
    font-size: 1.75em;
}

.form > select > option {
    font-size: 1em;
}

.form_contain {
    margin: 0 auto 2em auto;
    display: flex;
}

.game_list {
    padding: 0.5em 3em 0.5em 3em;
}

.game_list > li {
    font-family: Exo-Thin;
    font-size: 200%;
}

.game_title {
    padding: 0.6em 0.2em;
    margin: 0.5em 15%;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.img-left-nop-16x9 {
    width: 58em;
    float: left;
    margin: auto;
}

.img-right-nop-16x9 {
    width: 58em;
    float: right;
    margin: auto;
}

.players {
    display: flex;
    padding: 1em 0.5em;
}

.player_img {
    min-width: 170px;
    max-width: 170px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: auto 0;
}

.player_info {
    margin: 2em auto;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_info > div {
    display: flex;
    width: 620px;
}

.player_text {
    padding: 1em 2em;
}

.player_text > p {
    font-size: 150%;
}

.pp {
    padding: 2% auto;
}

.pp-side {
    padding: auto 2%
}

.record {
    margin: 2em auto;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record > div {
    display: flex;
    width: 620px;
    margin-top: 0;
}

.record_date {
    background-color: #481A1B;
    padding: 0.1em 0.3em;
    color: white;
    display: block;
}

.record_sec {
    display: block;
    padding: 1em 0.5em;
    width: 100%;
}

.record_sec > p {
    padding: 0.1em;
}

.record_img {
    justify-content: center;
    align-items: center;
    margin: auto 0;
    vertical-align: middle;
    width: 8em;
}

.return, .return_mb, .return_lar {
    display: none;
}

.row-full {
    margin: 0;
    padding: 0 7.5% 0 7.5%;
}

.row-full-flex {
    margin: 0;
    padding: 0 7.5% 0 7.5%;
    display: flex;
}

.row-full-flex-pp {
    margin: 0;
    padding: 2% 7.5% 2% 7.5%;
    display: flex;
}

.row-full-nol {  
    margin: 0 7.5% 0 0;
    display: flex;
}

.row-full-norl {
    margin: 0;
    display: flex;
}

.row-full-nor {  
    margin: 0 0 0 7.5%;
    display: flex;
}

.row-full-rec {
    align-items: center;
    margin: 0;
    padding: 0 7.5% 0 7.5%;
    display: block;
}

.row-grid-w {
    margin: 0;
    padding: 0 7.5% 0 7.5%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.row-grid-w2 {
    margin: 2% 0 2% 0;
    padding: 0 7.5% 0 7.5%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.row-grid-m {
    margin: 0;
    padding: 2% 7.5% 2% 7.5%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #481A1B;
    color: white;
}

.row-grid-footer {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.section_padb {
    padding: 1.5em 0 2em 0;
}

.slicknav_menu {
	display: none;
}

.team-select {
    margin: 3%;
    border-radius: 1em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10%;
}

.team-select:hover {
    transform: scale(1.1);
}

.textl {
    text-align: left;
}

.textr {
    text-align: right;
}

#week_meet {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#week_meet > tbody > tr > th {
    background-color: #481A1B;
    color: white;
    font-size: 300%;
    padding: 0.2em 0.4em;
}

#week_meet > tbody > tr > td {
    text-align: center;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 200%;
    padding: 0.2em 0.4em;
}

@media screen and (max-width: 600px) {
    #team-s-contain > a {
        height: 6em;
        width: 6em;
    }

    #week_meet_mb {
        margin: 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #week_meet_mb > tbody > tr > th {
        background-color: #481A1B;
        color: white;
        font-size: 150%;
        padding: 0.2em 0.4em;
    }
    
    #week_meet_mb > tbody > tr > td {
        text-align: center;
        background-color: white;
        color: black;
        text-align: center;
        font-size: 100%;
        padding: 0.2em 0.4em;
    }
    
    .leave_mb {
        display: none;
    }

    .player_text {
        padding: auto;
    }

    .return_mb {
        display: block;
    }
    
}

@media screen and (max-width: 827px) {
	#nav {
        display: none;
    }

    .flex_photo3 {
        width: 100%;
        display: flex;
    }
    
    .js .slicknav_menu {
		display: block;
        background-color: #481A1B;
	}

    .leave_med {
        display: none;
    }

    .player_info > div, .record > div {
        width: 100%;
    }

    .row-full-rec {
        padding: 0 auto;
    }


}

@media screen and (max-width: 1080px) {
	#aboutus-logo {
        display: none;
    }

    #mission-text > .textr {
        text-align: left;
    }

    #week_meet > tbody > tr > th {
        font-size: 200%;
    }
    
    #week_meet > tbody > tr > td {
        font-size: 134%
    }

    .leave {
        display: none;
    }

    .player_info, .record {
        display: block;
        margin: auto 0;
    }

    .return {
        display: block;
    }
}

@media screen and (max-width: 1300px) {
	.events_img {
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .leave_lar {
        display: none;
    }

    .return_lar {
        display: block
    }
}